@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

.grid-container {
  @include display(grid);
}

body {
  @include globalMargin(0,0,0,0);
  @include globalFontInfo($main-font, $normal, 17px);
}

ul {
  list-style-type: none;
}

a {
  @include color($blue);

  &:hover {
    @include color($orange);
  }
}

p {
  @include globalSizeInfo(0.8em, 1.7em);
}

.p {
  @include globalTextInfo(0.8em, 1em, 1em, auto);
}

h1 {
  @include globalTextInfo(1.765em, 3.11em, auto, $white);
}

.h1 {
  @include globalTextInfo(1.765em, 3.11em, auto, $white);
}

.h1-footer {
  @include globalTextInfo(1.765em, 3.11em, auto, $black);
}

h2 {
  @include globalTextInfo(1.53em, 2.65em, 2em, $white);
}

.h2 {
  @include globalTextInfo(1.53em, 2.65em, 2em, $white);
}

h3 {
  @include font-size(1.88em);
}

.h3 {
  @include globalTextInfo(1.88em, 1em, 1em, auto);
}

h4 {
  @include font-size(1.29em);
}

.h4 {
  @include font-size(1.29em);
}

h5 {
  @include font-size(0.8em);
}

.h5 {
  @include globalTextInfo(1em, 1em, 1em, auto);
}

ul, ol {
  @include globalTextInfo(auto, 2.7em, 2.2em, auto);
}

.circle-icon {
  @include globalMargin(auto, auto, auto, auto);
}

.accordion {
  @include display(none);
}

.links-and-video {
  @include globalColumnGrid(2);
  @include width(100vw);
}

.video-banner-details {
  @include globalColumnGrid(4);
  @include bottom(0);
  @include position(absolute);
}

.mobile-icons {
  @include display(none);
  @include globalMargin(0, 2em, 0, 2em);
}

.nav-bar .link-title {
  @include globalSizeInfo(1.059em, 1);
}

.rel-1 .card-div {
  @include globalColumnGrid(3);
  @include globalMarginPadding(0.938em 0.938em 0 0.938em, auto auto auto 1.875em);
}

.our-locations-mobile {
  @include globalWidthHeight(100vw, 3em);
  @include globalColors($white, $dark-blue);
  @include display(none);
  @include font-size(0.8em);
  ul {
    @include globalMarginPadding(0, 0);
  }
  li {
    @include padding(12px);
  }
}

.home-tabs-top {
  @include globalWidthHeight(100%, 100%);
  @include globalColors($white, $dark-blue);
  @include font-size(1.412em);
  @include display(grid);
  ul {
    @include globalColumnGrid(3);
    @include globalContent(center, center);
    @include globalMarginPadding(0, 0);
  }
  li {
    @include globalLiInfo(2em, 0.5em, center);
  }
}

.home-tabs {
  @include globalWidthHeight(100%, 100%);
  @include globalColors($white, $dark-blue);
  @include font-size(1.412em);
  @include display(grid);
  ul {
    @include globalColumnGrid(3);
    @include globalContent(center, center);
    @include globalMarginPadding(0, 0);
  }
  li {
    @include globalLiInfo(2em, 0.5em, center);
  }
}

.home-tabs-top-li {
  &:hover {
    @include globalTabsInfo(0.471em solid $sky-blue, $sky-blue, 0);
  }
}

.home-tabs-li {
  &:hover {
    @include globalTabsInfo(0.471em solid $sky-blue, $sky-blue, 0);
   }
}

#js-map {
  @include height(100%);
}

.map-info {
  @include margin-top(0);
}

.locations {
  @include globalFontInfo($main-font, $bold, 1.059em);
  @include globalMargin(0, 0, 0, 0);
  @include line-height(3.889);
  @include white-space(nowrap);
}

.side-video {
  @include globalWidthHeight(100%, 100%);
}

.homepage-youtube-video {
  @include width(100vw);
  @include position(relative);
}

.map-with-locations {
  @include display(grid);
  @include globalTemplateColTwo(25%, 75%);
  @include width(100vw);
  @include margin-bottom(1.875em);
}

.map-with-locations-info {
  @include background-color($light-grey);
  @include display(grid);
  @include padding(1.250em);
}

.card {
  @include globalFlexBox(flex, column-reverse);
  @include globalWidthHeight(14em, 14em);
  @include color($white);
  @include margin-bottom(0.5em);
  @include align-items(flex-end);
}

.events-list-item {
  @include globalWidthHeight(auto, auto);
  @include globalFlexBox(flex, row);
  @include globalColors($white, $dark-navy-blue);
  @include margin-bottom(0.625em);

  ul {
    @include globalMarginTopBottom(0, 0);
  }

  &:hover {
    @include background-color($blue);
  }
}

.footer-content {
  @include globalFlexBox(flex, column);
}

.link-list {
  @include display(grid);
  @include globalMargin(auto, auto, auto, auto);
  @include color($blue);
  ul {
    @include globalColumnGrid(2);
  }

  li {
    @include globalMargin(0.625em, 0.625em, 0.625em, 0.625em);
    @include globalFontInfo($main-font, $normal, 0.905em);
    @include display(grid);
  }
}

.related-bottom {
  @include display(grid);
  @include globalTemplateColTwo(70%, 30%);
  @include width(100vw);
}

.related-events {
  @include display(grid);
  @include background-color($off-white);
}

.events-list-date {
  @include display(inline-grid);
  @include padding(1.4em 1em 1.4em 1em);
  @include globalFontInfo($main-font, $normal, 0.7em);
  @include color($white);
  @include line-height(1);
  @include text-align(center);
  @include border-right(0.188em solid $light-blue);
  @include vertical-align(middle);
}

.events-list-month {
  @include globalFontInfo($main-font, $normal, 1.5em);
  @include globalMargin(0, 0, 0, 0);
}

.events-list-day {
  @include globalFontInfo($main-font, $normal, 3em);
  @include globalMargin(0, 0, 0, 0);
}

.events-list-title {
  @include display(inline-grid);
  @include padding(1em);
  @include globalFontInfo($main-font, $normal, 1.204em);
  @include color($white);
  @include align-content(center);
  @include vertical-align(middle);

  &:hover {
    @include text-decoration(underline);
  }
}

.events-list {
  @include globalMarginPadding(0, 0.938em);
}

.copy-list-inner {
  @include globalMarginPadding(0, 0);
  @include globalSizeInfo(0.813em, 2);
  @include color($navy-blue);
  @include text-decoration(none);

  ul {
    @include globalMarginPadding(0, 0);
    @include vertical-align(baseline);
    border-width: 0;
    border-style: initial;
  }
}

.mobile-callout-header {
  @include border-bottom(0.3em solid rgb(216, 242, 249));
  @include globalFontInfo($main-font, $bold, 1.294em);
}

.footer-info {
  @include globalColumnGrid(4);
  @include globalMargin(1.875em, 1.875em, 1.875em, 3.1em);
}

.footer-marker {
  @include globalWidthHeight(1em, 1em);
  @include margin-right(0.313em);
}

.footer-address {
  @include globalFlexBox(flex, row);
  @include globalMargin(auto, auto, auto, 0.625em);
  @include color($navy-blue);
  @include align-items(center);

  h5 {
    @include font-weight(100);
  }
}

.footer-bottom-info {
  @include globalFontInfo($main-font, $normal, 0.855em);
  @include globalMargin(1.67em, 0.625em, 1.67em, 0.625em);
  @include color($navy-blue);
}

.footer-top {
  @include globalFlexBox(flex, row);
  @include globalMargin(1.875em, 1.875em, 1.875em, 3.1em);
  @include align-items(center);
  @include justify-content(space-around);
}

.footer-copyright {
  @include globalFontInfo($main-font, $normal, 0.855em);
  @include globalMargin(1.67em, auto, 1.67em, 0.625em);
}

.footer-bottom  {
  @include globalFlexBox(flex, row);
  @include background-color($off-white);
  @include padding(15px);
  @include white-space(nowrap);

  li {
    @include globalFontInfo($main-font, $normal, 0.8em);
  }

  h5 {
    @include margin-right(0.625em);
    @include globalFontInfo($main-font, $normal, 0.7em);
  }
}

.footer-bottom .footer-wrap-top {
  @include globalFlexBox(flex, row);
  @include globalMarginTopBottom(auto, auto);
}

.footer-bottom .footer-wrap-bottom {
  @include globalMarginTopBottom(auto, auto);
}

.footer-wrap-bottom {
  @include globalFlexBox(flex, row);
}

.footer-img {
  @include background-color($white);
  @include width(100vw);
}

.related-div {
  @include display(grid);
  @include globalTemplateColTwo(70%, 30%);
  @include width(100vw);
}

.related-div-top {
  @include width(100vw);
  grid-template-columns: repeat(3, 33%);
}

.metric-list-div {
  @include globalColumnGrid(2);
  @include padding(0.87em 0 0.87em 0);
  @include background-color(rgba($light-grey, 0.5));
  @include width(auto);
  @include margin-bottom(0);
  @include bottom(0);
  @include align-content(flex-start);
  @include position(relative);
  @include z-index(9);

  &:hover {
    @include background-color(rgba($light-grey, 0.8));
  }
}

.hero-video-banner-label {
  @include color($white);
  @include bottom(5.6em);
  @include position(absolute);
  @include margin-left(1.875em);
  @include white-space(nowrap);
}

.hero-video-banner-blurb {
  @include position(absolute);
}

.metric-list-label {
  @include globalFontInfo($main-font, $bold, 2.824em);
  @include color($black);
  @include line-height(1.458);
  @include margin-bottom(0);
  @include text-align(right);
  @include padding-right(.2em);
  @include white-space(nowrap);
}

.metric-list-text {
  @include globalFontInfo($main-font, $normal, 1em);
  @include color($black);
  @include line-height(1.471);
  @include text-align(left);
  @include vertical-align(top);
}

.hero-video-banner {
  @include width(100vw);
  @include background-color($dark-blue);
}

.classes-and-events {
  @include display(grid);
  @include globalColors($white, $grey-blue);
  @include globalFontInfo($main-font, $normal, 1.412em);
  @include width(100%);
  @include text-align(center);

  li {
    @include globalContent(center, center);
    @include margin-top(2em);
  }

  ul {
    @include globalMarginPadding(0, 0);
  }
}

.rel-1 {
  @include globalWidthHeight(100%, 100%);
  @include background-color($light-grey);
}

.related-events-arrow {
  @include globalFontInfo($main-font, $normal, 1.059em);
  @include color($blue);
}

.footer-blurb {
  @include globalMargin(0, auto, 0, auto);
  @include globalSizeInfo(2.353em, 1.5);
  @include text-align(center);
  @include padding-top(1.3em);
}

.footer {
  @include justify-content(center);
}

.blue-btn {
  @include globalColors($white, $dark-blue);
  @include globalMarginPadding(0 auto 0 auto, .6em 2em .6em 2em);
  @include font-size(0.6em);
  @include border(none);
  box-shadow: 0 0 0.063em transparent;
}

.map-filter-list {
  @include globalMargin(0, 10px, 0, auto);
  @include padding-left(0);
  @include padding-bottom(0);

  li {
    @include font-size(0.9em);
  }
}

 .footer-logo {
   img {
     @include height(1.471em);
   }
 }

.footer-info-div {
  @include background-color($light-sky-blue);
  @include width(100vw);
}

.marker-img {
  @include globalWidthHeight(1.5em, 1.5em);
}

.our-locations {
  @include white-space(nowrap);
}

.card-details {
  @include globalMargin(0, 0, 0, 0);
  @include background-color(rgba($black, 0.6));
  @include width(11.6em);
  @include position(absolute);

  &:hover {
    .card-extra {
      @include display(block);
      @include globalMargin(0, 0, 0, 0);
      transition: max-height 0.2s linear 0s;
    }
  }

  li {
    @include globalMargin(0.2em, 0.2em, 0.2em, 0.2em);
  }
}

.card-date {
  @include color($white);
  @include globalFontInfo($main-font, 200, 1.084em);
  @include globalMargin(0.588em, 0.588em, 0.588em, 0.588em);
  @include line-height(1.556);
}

.card-title {
  @include color($white);
  @include globalFontInfo($main-font, 200, 1.176em);
  @include globalMargin(0.2em, 0.2em, 0.2em, 0.2em);
  @include line-height(1.5);
}

.card-extra {
  @include display(none);
  @include globalFontInfo($main-font, 200, 1.176em);
  @include globalMargin(0.588em, 0.588em, 0.588em, 0.588em);
  @include line-height(1.5);
}

.dh_logo {
  @include globalMargin(1.25em, auto, auto, auto);
  @include width(12.5em);
}

.card img {
  @include globalWidthHeight(14em, 14em);
}

.nav-bar {
  @include globalColumnGrid(5);
  @include globalMarginPadding(0,0);
  @include background-color($white);
  @include width(100vw);

  li {
    @include text-align(center);
    @include font-size(0.7em);
  }

  h3 {
    @include font-weight($normal);
  }
}

.right_logo {
  @include icon;
  @include globalColors($button-blue, $white);
}

.all-news {
  @include globalFontInfo($main-font, $normal, 1.059em);
  @include globalMargin(auto, auto, auto, auto);
  @include color($blue);
  @include text-align(right);
}

.the-link-div {
  @include globalFlexBox(flex, row);
  @include padding-left(0);
  @include height(3.235em);
}

.news-link-div {
  @include globalFlexBox(flex, row);
  @include height(3.235em);
}

.locations-link-ul {
  @include globalFlexBox(flex, row);
  @include globalMargin(0, auto, 0, auto);
  @include padding-left(0);
}

.all-locations {
  @include globalFlexBox(flex, row);
  @include globalFontInfo($main-font, $normal, 1.059em);
  @include color($black);
  @include text-align(left);
}
.arrow-link-div  {
  @include globalFlexBox(flex, row);
  @include height(3.235em);
}

.right_logo_blue {
  @include icon;
  @include globalColors($white, $button-blue);
  @include globalMargin(auto, auto, auto, 0.5em);
}

.right_logo_news {
  @include icon;
  @include globalColors($white, $button-blue);
  @include globalMargin(auto, auto, auto, 0.5em);
}

.plus_logo {
  @include icon;
  @include globalColors($white, $button-blue);
  @include globalMargin(0.3em, auto, auto, 0.3em);
}

.events-div {
  @include globalFlexBox(flex, row);
}

.link-nav-bar {
  @include globalFlexBox(flex, row);
  @include globalMarginPadding(0,0);
  @include globalWidthHeight(100vw, 100vh);
  @include globalColors($black, $off-white);
  @include height(2.313em);
  @include line-height(1.125);
  @include align-items(center);
  @include bottom(0);
  @include justify-content(flex-end);
  @include top(0);

  li {
    @include text-align(center);
    @include globalMargin(0, 2em, 0, 2em);
  }
  h5 {
    @include font-size(1em);
    @include font-weight($normal);
  }
}

.plus_sign {
  @include color($white);
  @include globalMargin(0, 0, 0, 0);
}

.minus_sign {
  @include color($white);
}

.contact-us {
  @include padding-left(0);
}

.contact-us-div {
  @include globalFlexBox(flex, row);
  @include globalMargin(0, auto, auto, auto);
  @include padding-left(0);
}

.patient-visitor-div {
  @include globalFlexBox(flex, row);
  @include globalMargin(0, auto, auto, auto);
  @include padding-left(0);
}

.for-professionals-div {
  @include globalFlexBox(flex, row);
  @include globalMargin(0, auto, auto, auto);
  @include padding-left(0);
}

.about-us-div {
  @include globalFlexBox(flex, row);
  @include globalMargin(0, auto, auto, auto);
  @include padding-left(0);
}

.side-video-section {
  @include globalWidthHeight(23.529em, 11.765em);
  @include globalMargin(1.25em, 1.25em, 1.25em, 1.25em);
  @include position(relative);
}

.sticky {
  @include top(0);
  @include position(fixed);
  z-index: 1;
}

.copy-list-inner .contact-us-link {
  @include color($black);
  @include font-weight(400);
}
.copy-list-inner .bold-txt {
  @include color($black);
  @include font-weight($bold);
}

.copy-list {
  @include white-space(nowrap);

 h1 {
   @include color($black);
 }
}

.social-icons {
  @include globalWidthHeight(1.176em, 1.176em);
  @include globalMargin(auto, auto, auto, 2.353em);
  @include color($navy-blue);
}

.logo-address {
  @include globalFlexBox(flex, row);
  @include align-items(center);
}

.social-icons-list {
  @include display(flex);
  @include globalMargin(0, auto, 0, auto);
}

.make-an-appointment {
  @include globalFlexBox(flex, row);
  @include text-align(center);
}

.patient-portal {
  @include globalFlexBox(flex, row);
}

/* Media Queries */
@media (max-width: $max-tablet) {
  .footer-bottom {
    @include font-size(0.882em);
    @include globalFlexBox(flex, column);
    @include padding-left(0);
  }

  .footer-wrap-top {
    @include globalFlexBox(flex, row);
    @include globalMargin(auto, auto, 0, auto);

    .circle-icon {
      @include globalMargin(auto, 0, auto, 0);
    }
  }

  .footer-wrap-bottom {
    @include padding-left(0);
    @include globalFlexBox(flex, row);
    @include globalMargin(0, auto, auto, auto);

    .circle-icon {
      @include globalMargin(auto, 0, auto, 0);
      @include padding-left(0);
    }
  }
  .news-link-div {
      @include display(inline-grid);
  }
  .mobile-callout-header {
    @include font-size(0.8em);
  }
  .nav-bar {
    @include white-space($normal);
  }
  .copy-list-inner {
    @include font-size(0.8em);
  }
  .metric-list-label {
    @include font-size(1em);
  }
  .metric-list-text {
    @include font-size(0.8em);
  }
}

@media (min-width: $tablet) and (max-width: $max-tablet) {
  .footer-top {
    @include globalFlexBox(flex, column);
  }
  .mobile-callout-header {
    @include font-size(1.1em);
  }
  .copy-list-inner {
    a {
      @include font-size(0.9em);
    }
  }
  .footer-copyright {
    @include font-size(0.9em);
  }
  .footer-bottom-info {
    @include font-size(0.9em);
  }
  .footer-bottom {
    @include padding-left(1em);
  }
  .footer-wrap-bottom {
    @include padding-left(auto);
  }
}

@media (max-width:$mobile) {
  .rel-1 {
    @include display(none);
    .card-div {
      @include display(none);
    }
  }
  .map-with-locations {
    @include display(none);
  }
  .hidden-desktop {
    @include display(block);
  }
  .accordion {
    @include display(block);
  }
  .mobile-only {
    @include display(block);
  }
	.dh_logo {
    @include margin-left(0.5em);
	}
	.hero-video-banner-label {
    @include margin-left(0.8em);
		@include font-size(0.7em);
		@include bottom(0.5em);
	}
	.mobile-callout-header {
    @include globalMarginTopBottom(auto, auto);
    @include border-bottom(none);
	}
	.nav-bar {
    @include globalFlexBox(flex, row);
    @include width(100vw);
    @include justify-content(space-around);
	}
	.mobile-icons {
		@include display(block);
    @include globalMargin(1em, 1em, 1em, 1em);
	}
	.link-nav-bar {
    @include display(none);
	}
	.video-banner-details {
		@include display(none);
    @include position(relative);
    @include opacity(1);
	}
	.link-list {
		ul {
			@include globalTemplateCol(none);
      @include globalMarginTopBottom(0, 0);
      @include padding-left(0.588em);
		}
	}
	.links-and-video-txt {
    @include margin-left(0.882em);
	}
	.home-tabs-top {
    @include font-size(0.8em);
		ul {
      @include padding-left(0);
		}
	}
	.link-title {
		@include display(none);
	}
	.links-and-video {
		@include display(block);
	}
	.events-list {
		@include display(none);
	}
	.related-events {
	@include display(none);
	}
	.classes-and-events {
		@include display(none);
	}
	.related-div {
		@include globalTemplateCol(100%);
	}
	.related-bottom {
		@include globalTemplateCol(100%);
	}
	.card {
		@include globalWidthHeight(auto, auto);
    @include globalMargin(0, auto, 0, auto);

		img {
			@include globalWidthHeight(auto, auto);
		}
	}
	.footer-blurb {
		p {
      @include font-size(0.5em);
      @include margin-left(3.5em);
      @include margin-right(3.5em);
		}
	}
	.footer-address {
		h5 {
      @include font-size(0.7em);
		}
	}
	.home-tabs {
    @include display(none);
	}
	.footer-info {
		grid-template-columns: none;
		@include globalMargin(1em, 1em, 1em, 1em);
			.hidden-mobile {
				@include display(none);
		}
	}
	.contact-us {
    @include border-bottom(none);
	}
	.copy-list-contact {
    @include border(0.059em solid rgba($black, 0.6));
    @include border-bottom(none);
    @include padding(0.625em);
		a {
      @include font-size(0.8em);
		}
	}
	.copy-list-patient {
    @include globalBorderInfo( 0.059em solid rgba($black, 0.6), none, none, 0.625em);
	}
	.copy-list-about {
    @include globalBorderInfo(0.059em solid rgba($black, 0.6), auto, auto, 0.625em);
	}
	.copy-list-professionals {
    @include globalBorderInfo(0.059em solid rgba($black, 0.6), none, auto, 0.625em);
	}
	.copy-list .mobile-callout-header {
    @include border-bottom(none);
	}
	.our-locations-mobile {
		@include display(block);
	}
	.footer-top {
    @include globalFlexBox(flex, column);
    @include margin-left(0);
	}
	.logo-address {
		@include globalFlexBox(flex, column);
	}
	.social-icons {
    @include globalMargin(auto, 2.353em, auto, 0);
	}
	.footer-bottom {
		@include globalFlexBox(flex, column);
    @include padding-left(0);
		h5 {
			@include globalMargin(auto, auto, auto, auto);
      @include font-size(0.7em);
      @include padding(0.625em 0 0.625em 0);
		}
		.footer-wrap-top {
			@include globalFlexBox(flex, column);
	    @include globalMargin(auto, auto, auto, auto);
	    @include padding-left(0);
	    @include text-align(center);
		}
	}
	.footer-wrap-bottom {
		@include globalFlexBox(flex, column);
    @include globalMargin(auto, auto, auto, auto);
    @include padding-left(0);
    @include text-align(center);
	}
	.circle-icon {
		@include display(none);
	}
	.the-link-div {
	  @include display(none);
	}
	.footer-logo {
		img {
      @include height(1em);
		}
	}
	.sticky {
    @include position(relative);
	}
  .side-video-section {
    @include globalMargin(20px, 20px, 20px, 20px);
  }
  .contact-us-div {
    @include justify-content(space-between);
  }
}

@media (min-width:$tablet) and (max-width:$transition) {
    .rel-1 .card-div {
        @include globalColumnGrid(2);
    }
    .footer-blurb {
        p {
          @include globalMargin(auto, 6em, auto, 6em);
        }
    }
    .footer-wrap-top {
      @include padding-left(15px);
  }
  .footer-wrap-bottom {
    @include padding-left(15px);
  }
}

@media (max-width: $desktop-medium) {
  .map-filter-list {
    li {
      @include font-size(0.6em);
    }
 }
 .grid-container .footer-bottom {
   @include globalMargin(auto, auto, auto, 0);
   @include padding-left(0);
 }
}

@media (max-width:$mobile-medium) {
  .map-with-locations-info {
    @include display(none);
  }
  .news-link-div {
   @include display(none);
  }
	.our-locations-mobile {
    @include width(auto);
		@include display(block);
	}
	.footer-blurb .blue-btn {
    @include font-size(0.3em);
	}
	.side-video {
		@include globalWidthHeight(100%,100%);
    @include globalMargin(0, 0, 0, 0);
	}
	.side-video-section {
    @include globalWidthHeight(auto, auto);
		@include globalMargin(auto, auto, auto, auto);
	}
	.homepage-youtube-video {
    @include globalMargin(0, auto, auto, auto);
	}
	.metric-list-div {
    @include opacity(1);
	}
	.map-with-locations {
    @include display(block);
	}
	.rel-1 .card-div {
		@include display(none);
	}
	.card {
    @include align-items(center);
		@include globalMargin(0, auto, 0, auto);
	}
	.card-details {
		@include globalMargin(0, auto, 0, auto);
    @include width(0 auto);
	}
	.grid-container .home-tabs-top {
		ul {
      @include font-size(0.5em);
		}
	}
	.mobile-callout-header {
    @include border-bottom(none);
	}
}
