.grid-container {
  display: -ms-grid;
  display: grid; }

body {
  font-family: Nunito Sans, sans-serif;
  margin: 0;
  font-size: 17px; }

ul {
  list-style-type: none; }

a {
  color: #186ca4; }
  a:hover {
    color: #f26522; }

p {
  font-size: 0.8em;
  line-height: 1.7em; }

.p {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em; }

h1 {
  font-size: 1.765em;
  margin-top: 3.11em;
  color: #ffffff; }

.h1 {
  font-size: 1.765em;
  margin-top: 3.11em;
  color: #ffffff; }

.h1-footer {
  font-size: 1.765em;
  margin-top: 3.11em;
  color: #000000; }

h2 {
  font-size: 1.53em;
  color: #ffffff;
  margin-top: 2.65em;
  margin-bottom: 2em; }

.h2 {
  font-size: 1.53em;
  color: #ffffff;
  margin-top: 2.65em;
  margin-bottom: 2em; }

h3 {
  font-size: 1.88em; }

.h3 {
  font-size: 1.88em;
  margin-top: 1em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.29em; }

.h4 {
  font-size: 1.29em; }

h5 {
  font-size: 0.8em; }

.h5 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

ul, ol {
  margin-top: 2.7em;
  margin-bottom: 2.2em; }

.circle-icon {
  margin: auto; }

.accordion {
  display: none; }

.links-and-video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'link-list homepage-youtube-video';
  width: 100vw; }

.video-banner-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  bottom: 0;
  position: absolute; }

.mobile-icons {
  display: none;
  margin: 0 2em; }

.nav-bar .link-title {
  font-size: 1.059em;
  line-height: 1; }

.rel-1 .card-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.938em 0.938em 0 0.938em;
  margin-left: 1.875em; }

.our-locations-mobile {
  background-color: #222944;
  width: 100vw;
  height: 3em;
  color: #ffffff;
  display: none;
  font-size: 0.8em; }
  .our-locations-mobile ul {
    margin: 0;
    padding: 0; }
  .our-locations-mobile li {
    padding: 12px; }

.home-tabs-top {
  background-color: #222944;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 1.412em;
  display: -ms-grid;
  display: grid; }
  .home-tabs-top ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0; }
  .home-tabs-top li {
    margin-top: 2em;
    margin-bottom: 0.5em;
    justify-content: center; }

.home-tabs {
  background-color: #222944;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-size: 1.412em;
  display: -ms-grid;
  display: grid; }
  .home-tabs ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0; }
  .home-tabs li {
    margin-top: 2em;
    margin-bottom: 0.5em;
    justify-content: center; }

.home-tabs-top-li:hover {
  border-bottom: 0.471em solid #40b4e5;
  color: #40b4e5;
  margin-bottom: 0; }

.home-tabs-li:hover {
  border-bottom: 0.471em solid #40b4e5;
  color: #40b4e5;
  margin-bottom: 0; }

#js-map {
  height: 100%; }

.map-info {
  margin-top: 0; }

.locations {
  margin: 0;
  font-size: 1.059em;
  line-height: 3.889;
  white-space: nowrap;
  font-weight: bold; }

.side-video {
  width: 100%;
  height: 100%; }

.homepage-youtube-video {
  position: relative;
  width: 100vw; }

.map-with-locations {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 25% 75%;
  margin-bottom: 1.875em;
  width: 100vw; }

.map-with-locations-info {
  background-color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  padding: 1.250em; }

.card {
  display: flex;
  flex-direction: column-reverse;
  width: 14em;
  height: 14em;
  color: #ffffff;
  margin-bottom: 0.5em;
  align-items: flex-end; }

.events-list-item {
  display: flex;
  flex-direction: row;
  background-color: #135480;
  color: #ffffff;
  width: auto;
  height: auto;
  margin-bottom: 0.625em; }
  .events-list-item ul {
    margin-top: 0;
    margin-bottom: 0; }
  .events-list-item:hover {
    background-color: #186ca4; }

.footer-content {
  display: flex;
  flex-direction: column; }

.link-list {
  display: -ms-grid;
  display: grid;
  margin: auto;
  grid-area: 'link-list';
  color: #186ca4; }
  .link-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .link-list li {
    margin: 0.625em;
    font-size: 0.905em;
    display: -ms-grid;
    display: grid; }

.related-bottom {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw; }

.related-events {
  display: -ms-grid;
  display: grid;
  background-color: #f6f6f6; }

.events-list-date {
  display: inline-grid;
  vertical-align: middle;
  color: #ffffff;
  border-right: 0.188em solid #427699;
  text-align: center;
  line-height: 1;
  padding: 1.4em 1em;
  font-size: 0.7em; }

.events-list-month {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0; }

.events-list-day {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0; }

.events-list-title {
  display: inline-grid;
  vertical-align: middle;
  color: #ffffff;
  font-size: 1.204em;
  align-content: center;
  padding: 1em; }
  .events-list-title:hover {
    text-decoration: underline; }

.events-list {
  margin: 0;
  padding: 0.938em; }

.copy-list-inner {
  margin: 0;
  padding: 0; }
  .copy-list-inner ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border-width: 0;
    border-style: initial; }
  .copy-list-inner a {
    font-size: 0.813em;
    color: #145987;
    text-decoration: none;
    line-height: 2; }

.mobile-callout-header {
  border-bottom: 0.3em solid #d8f2f9;
  font-weight: bold;
  font-size: 1.294em; }

.footer-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1.875em 1.875em 1.875em 3.1em; }

.footer-marker {
  width: 1em;
  height: 1em;
  margin-right: 0.313em; }

.footer-address {
  display: flex;
  flex-direction: row;
  color: #145987;
  align-items: center;
  margin-left: 0.625em; }
  .footer-address h5 {
    font-weight: 100; }

.footer-bottom-info {
  color: #145987;
  font-size: 0.855em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-right: 0.625em;
  margin-left: 0.625em; }

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.footer-copyright {
  margin-left: 0.625em;
  font-size: 0.855em;
  margin-top: 1.67em;
  margin-bottom: 1.67em; }

.footer-bottom {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  white-space: nowrap;
  padding: 15px; }
  .footer-bottom li {
    font-size: 0.8em; }
  .footer-bottom h5 {
    margin-right: 0.625em;
    font-weight: normal;
    font-size: 0.7em; }

.footer-bottom .footer-wrap-top {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto; }

.footer-bottom .footer-wrap-bottom {
  margin-top: auto;
  margin-bottom: auto; }

.footer-wrap-bottom {
  display: flex;
  flex-direction: row; }

.footer-img {
  width: 100vw;
  background-color: white; }

.related-div {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw; }

.related-div-top {
  grid-template-columns: repeat(3, 33%);
  width: 100vw; }

.metric-list-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(240, 240, 240, 0.5);
  position: relative;
  z-index: 9;
  bottom: 0;
  margin-bottom: 0;
  width: auto;
  padding: .87em 0;
  align-content: flex-start; }
  .metric-list-div:hover {
    background-color: rgba(240, 240, 240, 0.8); }

.hero-video-banner-label {
  bottom: 5.6em;
  position: absolute;
  white-space: nowrap;
  color: #ffffff;
  margin-left: 1.875em; }

.hero-video-banner-blurb {
  position: absolute; }

.metric-list-label {
  text-align: right;
  padding-right: .2em;
  white-space: nowrap;
  margin-bottom: 0;
  font-weight: bold;
  color: #000000;
  font-size: 2.824em;
  line-height: 1.458; }

.metric-list-text {
  text-align: left;
  vertical-align: top;
  font-size: 1em;
  color: #000000;
  line-height: 1.471; }

.hero-video-banner {
  background-color: #222944;
  width: 100vw; }

.classes-and-events {
  display: -ms-grid;
  display: grid;
  background-color: #4e5469;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 1.412em; }
  .classes-and-events li {
    justify-content: center;
    text-align: center;
    margin-top: 2em; }
  .classes-and-events ul {
    padding: 0;
    margin: 0; }

.rel-1 {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; }

.related-events-arrow {
  font-family: Nunito Sans, sans-serif;
  font-weight: normal;
  font-size: 1.059em;
  color: #186ca4; }

.footer-blurb {
  font-size: 2.353em;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 1.3em; }

.footer {
  justify-content: center; }

.blue-btn {
  margin: 0 auto;
  background-color: #222944;
  padding: .6em 2em;
  border: none;
  box-shadow: 0 0 0.063em transparent;
  font-size: 0.6em;
  color: #ffffff; }

.map-filter-list {
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-left: 0; }
  .map-filter-list li {
    font-size: 0.9em; }

.footer-logo img {
  height: 1.471em; }

.footer-info-div {
  background-color: #78d7ff;
  width: 100vw; }

.marker-img {
  width: 1.5em;
  height: 1.5em; }

.our-locations {
  white-space: nowrap; }

.card-details {
  background-color: rgba(0, 0, 0, 0.6);
  width: 11.6em;
  position: absolute;
  margin: 0; }
  .card-details:hover .card-extra {
    display: block;
    transition: max-height 0.2s linear 0s;
    margin: 0; }
  .card-details li {
    margin: auto; }

.card-date {
  color: #ffffff;
  margin: 0.2em;
  font-size: 1.084em;
  font-weight: 200;
  line-height: 1.556;
  margin: 0.588em; }

.card-title {
  color: #ffffff;
  margin: 0.2em;
  font-size: 1.176em;
  font-weight: 200;
  line-height: 1.5;
  margin: 0.588em; }

.card-extra {
  display: none;
  font-size: 1.176em;
  font-weight: 200;
  line-height: 1.5;
  margin: 0.588em; }

.dh_logo {
  width: 12.5em;
  margin-top: 1.25em; }

.card img {
  width: 14em;
  height: 14em; }

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100vw; }
  .nav-bar li {
    text-align: center;
    font-size: 0.7em; }
  .nav-bar h3 {
    font-weight: normal; }

.right_logo {
  -webkit-border-radius: 58.765em;
  -moz-border-radius: 58.765em;
  border-radius: 58.765em;
  width: 1em;
  height: 1em;
  padding: 0;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  font: 0.765em Arial, sans-serif;
  line-height: 1.1em;
  background: #ffffff;
  color: #00779e; }

.all-news {
  text-align: right;
  font-family: Nunito Sans, sans-serif;
  font-weight: normal;
  font-size: 1.059em;
  color: #186ca4;
  margin-left: auto; }

.the-link-div {
  display: flex;
  flex-direction: row;
  height: 3.235em;
  padding-left: 0; }

.news-link-div {
  display: flex;
  flex-direction: row;
  height: 3.235em; }

.locations-link-ul {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

.all-locations {
  display: flex;
  flex-direction: row;
  font-family: Nunito Sans, sans-serif;
  font-weight: normal;
  font-size: 1.059em;
  color: #000000;
  text-align: left; }

.arrow-link-div {
  display: flex;
  flex-direction: row;
  height: 3.235em; }

.right_logo_blue {
  -webkit-border-radius: 58.765em;
  -moz-border-radius: 58.765em;
  border-radius: 58.765em;
  width: 1em;
  height: 1em;
  padding: 0;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  font: 0.765em Arial, sans-serif;
  line-height: 1.1em;
  background: #00779e;
  color: #ffffff;
  margin: auto auto auto 0.5em; }

.right_logo_news {
  -webkit-border-radius: 58.765em;
  -moz-border-radius: 58.765em;
  border-radius: 58.765em;
  width: 1em;
  height: 1em;
  padding: 0;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  font: 0.765em Arial, sans-serif;
  line-height: 1.1em;
  background: #00779e;
  color: #ffffff;
  margin: 0.35em auto auto 0.5em; }

.plus_logo {
  -webkit-border-radius: 58.765em;
  -moz-border-radius: 58.765em;
  border-radius: 58.765em;
  width: 1em;
  height: 1em;
  padding: 0;
  text-align: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  font: 0.765em Arial, sans-serif;
  line-height: 1.1em;
  background: #00779e;
  color: #ffffff; }

.events-div {
  display: flex;
  flex-direction: row; }

.link-nav-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  background-color: #f6f6f6;
  height: 100vh;
  bottom: 0;
  color: #000000;
  height: 2.313em;
  align-items: center;
  top: 0;
  width: 100vw;
  line-height: 1.125; }
  .link-nav-bar li {
    text-align: center;
    margin: 0 2em; }
  .link-nav-bar h5 {
    font-weight: normal;
    font-size: 1em; }

.plus_sign {
  color: #ffffff;
  margin: 0; }

.minus_sign {
  color: #ffffff; }

.contact-us {
  padding-left: 0; }

.contact-us-div {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0; }

.patient-visitor-div {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0; }

.for-professionals-div {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0; }

.about-us-div {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-top: 0; }

.side-video-section {
  width: 23.529em;
  height: 11.765em;
  margin: 1.25em;
  position: relative; }

.sticky {
  position: fixed;
  top: 0;
  z-index: 1; }

.copy-list-inner .contact-us-link {
  color: #000000;
  font-weight: 400; }

.copy-list-inner .bold-txt {
  color: #000000;
  font-weight: bold; }

.copy-list {
  white-space: nowrap; }
  .copy-list h1 {
    color: #000000; }

.social-icons {
  width: 1.176em;
  height: 1.176em;
  margin-left: 2.353em;
  color: #145987; }

.logo-address {
  display: flex;
  flex-direction: row;
  align-items: center; }

.social-icons-list {
  display: flex;
  margin: 0 auto; }

.make-an-appointment {
  display: flex;
  flex-direction: row;
  text-align: center; }

.patient-portal {
  display: flex;
  flex-direction: row; }

/* Media Queries */
@media (max-width: 1024px) {
  .footer-bottom {
    font-size: 0.882em; }

  .footer-wrap-top .circle-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0; }

  .footer-wrap-bottom .circle-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0; } }
@media (min-width: 1024px) {
  .footer-wrap-bottom {
    padding-left: 0; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-top {
    display: flex;
    flex-direction: column; }

  .mobile-callout-header {
    font-size: 1.1em; }

  .copy-list-inner a {
    font-size: 0.9em; }

  .footer-copyright {
    font-size: 0.9em; }

  .footer-bottom-info {
    font-size: 0.9em; }

  .footer-bottom {
    padding-left: 1em; } }
@media (max-width: 1024px) {
  .news-link-div {
    display: none; }

  .mobile-callout-header {
    font-size: 0.8em; }

  .nav-bar {
    white-space: normal; }

  .copy-list-inner {
    font-size: 0.8em; }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 0; }

  .footer-wrap-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 0; }

  .footer-wrap-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 0; }

  .metric-list-label {
    font-size: 1em; }

  .metric-list-text {
    font-size: 0.8em; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-wrap-bottom {
    padding-left: auto; } }
@media (max-width: 767px) {
  .map-with-locations {
    display: none; }

  .hidden-desktop {
    display: block; }

  .accordion {
    display: block; }

  .mobile-only {
    display: block; }

  .dh_logo {
    margin-left: 0.5em; }

  .hero-video-banner-label {
    margin-left: 0.8em; }

  .mobile-callout-header {
    border-bottom: none;
    margin-top: auto;
    margin-bottom: auto; }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw; }

  .mobile-icons {
    display: block;
    margin: 1em; }

  .link-nav-bar {
    display: none; }

  .video-banner-details {
    display: none;
    position: relative;
    opacity: 1; }

  .hero-video-banner-label {
    font-size: 0.7em;
    bottom: 0.5em; }

  .link-list ul {
    grid-template-columns: none;
    -ms-grid-columns: none;
    padding-left: 0.588em;
    margin-top: 0;
    margin-bottom: 0; }

  .links-and-video-txt {
    margin-left: 0.882em; }

  .home-tabs-top {
    font-size: 0.8em; }
    .home-tabs-top ul {
      padding-left: 0; }

  .link-title {
    display: none; }

  .links-and-video {
    display: block; }

  .events-list {
    display: none; }

  .rel-1 .card-div {
    display: none; }

  .related-events {
    display: none; }

  .classes-and-events {
    display: none; }

  .related-div {
    grid-template-columns: 100%; }

  .related-bottom {
    grid-template-columns: 100%; }

  .card {
    width: auto;
    height: auto;
    margin: 0 auto; }
    .card img {
      width: auto;
      height: auto; }

  .footer-blurb p {
    font-size: 0.5em;
    margin-left: 3.5em;
    margin-right: 3.5em; }

  .footer-address h5 {
    font-size: 0.7em; }

  .home-tabs {
    font-size: 0.8em; }

  .footer-info .hidden-mobile {
    display: none; }

  .footer-info {
    grid-template-columns: none; }

  .contact-us {
    border-bottom: none; }

  .copy-list-contact {
    border: 0.059em solid rgba(0, 0, 0, 0.6);
    border-bottom: none;
    padding: 0.625em; }
    .copy-list-contact a {
      font-size: 0.8em; }

  .copy-list-patient {
    border: 0.059em solid rgba(0, 0, 0, 0.6);
    padding: 0.625em;
    border-bottom: none;
    border-top: none; }

  .copy-list-about {
    border: 0.059em solid rgba(0, 0, 0, 0.6);
    padding: 0.625em; }

  .copy-list-professionals {
    border: 0.059em solid rgba(0, 0, 0, 0.6);
    padding: 0.625em;
    border-bottom: none; }

  .copy-list .mobile-callout-header {
    border-bottom: none; }

  .our-locations-mobile {
    display: block; }

  .footer-top {
    display: flex;
    flex-direction: column;
    margin-left: 0; }

  .logo-address {
    display: flex;
    flex-direction: column; }

  .social-icons {
    margin-left: 0;
    margin-right: 2.353em; }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-left: 0; }
    .footer-bottom h5 {
      margin: auto;
      padding: 0.625em 0;
      font-size: 0.7em; }

  .footer-bottom .footer-wrap-top {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    text-align: center;
    padding-left: 0; }

  .footer-wrap-bottom {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    margin-top: auto;
    text-align: center;
    padding-left: 0; }

  .circle-icon {
    display: none; }

  .the-link-div {
    display: none; }

  .copy-list h1 {
    margin-top: auto;
    margin-bottom: auto; }

  .footer-info {
    margin: 1em; }

  .footer-logo img {
    height: 1em; }

  .sticky {
    position: relative; }

  .side-video-section {
    margin: 20px; }

  .contact-us-div {
    justify-content: space-between; } }
@media (min-width: 768px) and (max-width: 1100px) {
  .rel-1 .card-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  .footer-blurb p {
    margin-left: 6em;
    margin-right: 6em; }

  .footer-wrap-top {
    padding-left: 15px; }

  .footer-wrap-bottom {
    padding-left: 15px; } }
@media (max-width: 1200px) {
  .map-filter-list li {
    font-size: 0.6em; }

  .grid-container .footer-bottom {
    margin-left: 0;
    padding-left: 0; } }
@media (max-width: 414px) {
  .map-with-locations-info {
    display: none; }

  .news-link-div {
    display: none; }

  .our-locations-mobile {
    width: auto; }

  .footer-blurb .blue-btn {
    font-size: 0.3em; }

  .side-video {
    width: 100%;
    height: 100%;
    margin: 0; }

  .side-video-section {
    width: auto;
    height: auto;
    margin: auto; }

  .homepage-youtube-video {
    margin-top: 0; }

  .metric-list-div {
    opacity: 1; }

  .map-with-locations {
    display: block; }

  .our-locations-mobile {
    display: block; }

  .rel-1 .card-div {
    display: none; }

  .card {
    align-items: center; }

  .rel-1 .card-div {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

  .card-details {
    margin: 0 auto;
    width: 0 auto; }

  .card {
    margin: 0 auto; }

  .grid-container .home-tabs-top ul {
    font-size: 0.5; }

  .mobile-callout-header {
    border-bottom: none; } }

/*# sourceMappingURL=main.css.map */
