@mixin bottom($bottom) {
  bottom: $bottom;
}

@mixin top($top) {
  top: $top;
}

@mixin position($position) {
  position: $position;
}

@mixin font-size($font-size) {
  font-size: $font-size;
}

@mixin color($color) {
  color: $color;
}

@mixin background-color($color) {
  background-color: $color;
}

@mixin border($border) {
  border: $border;
}

@mixin border-top($border-top) {
  border-top: $border-top;
}

@mixin border-right($border-right) {
  border-right: $border-right;
}

@mixin border-bottom($border-bottom) {
  border-bottom: $border-bottom;
}

@mixin width($width) {
  width: $width;
}

@mixin height($height) {
  height: $height;
}

@mixin font-family($font-family) {
  font-family: $font-family;
}

@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

// padding mixins

@mixin padding($padding) {
  padding: $padding;
}

@mixin padding-top($padding-top) {
  padding-top: $padding-top;
}

@mixin padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom;
}

@mixin padding-left($padding-left) {
  padding-left: $padding-left;
}

@mixin padding-right($padding-right) {
  padding-right: $padding-right;
}

// margin mixins
@mixin margin($margin) {
  margin: $margin;
}

@mixin margin-top($margin-top) {
  margin-top: $margin-top;
}

@mixin margin-bottom($margin-bottom) {
  margin-bottom: $margin-bottom;
}

@mixin margin-left($margin-left) {
  margin-left: $margin-left;
}

@mixin margin-right($margin-right) {
  margin-right: $margin-right;
}

@mixin text-align($text-align) {
  text-align: $text-align;
}

@mixin align-items($align-items) {
  align-items: $align-items;
}

@mixin line-height($line-height) {
  line-height: $line-height;
}

@mixin flex-direction($flex-direction) {
  flex-direction: $flex-direction;
}

@mixin display ($display) {
  display: $display;
}

@mixin vertical-align($vertical-align) {
  vertical-align: $vertical-align;
}

@mixin align-content($align-content) {
  align-content: $align-content;
}

@mixin globalColumnGrid($number) {
  display: grid;
  grid-template-columns: repeat($number, 1fr);
}

@mixin globalTemplateCol($percentage) {
  grid-template-columns: $percentage;
}

@mixin justify-content($justify-content) {
  justify-content: $justify-content;
}

@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin white-space($white-space) {
  white-space: $white-space;
}

@mixin globalTemplateColTwo($percentageOne, $percentageTwo) {
  grid-template-columns: $percentageOne $percentageTwo;
}

@mixin globalWidthHeight($width, $height) {
  @include width($width);
  @include height($height);
}

@mixin globalTextInfo($font-size, $margin-top, $margin-bottom, $color) {
  @include font-size($font-size);
  @include margin-top($margin-top);
  @include margin-bottom($margin-bottom);
  @include color($color);
}

@mixin globalLiInfo ($margin-top, $margin-bottom, $justify-content) {
  @include margin-top($margin-top);
  @include margin-bottom($margin-bottom);
  @include justify-content($justify-content);
}

@mixin globalMarginPadding ($margin, $padding) {
  @include margin($margin);
  @include padding($padding);
}

@mixin globalFlexBox ($display, $flex-direction) {
  @include display($display);
  @include flex-direction($flex-direction);
}

@mixin globalColors($color, $background-color) {
  @include color($color);
  @include background-color($background-color)
}

@mixin globalFontInfo($font-family, $font-weight, $font-size) {
  @include font-family($font-family);
  @include font-weight($font-weight);
  @include font-size($font-size);
}

@mixin globalMargin($margin-top, $margin-right, $margin-bottom, $margin-left) {
  @include margin-top($margin-top);
  @include margin-right($margin-right);
  @include margin-bottom($margin-bottom);
  @include margin-left($margin-left);
}

@mixin globalContent($justify-content, $text-align) {
  @include justify-content($justify-content);
  @include text-align($text-align);
}

@mixin globalSizeInfo($font-size, $line-height) {
  @include font-size($font-size);
  @include line-height($line-height);
}

@mixin globalMarginTopBottom($margin-top, $margin-bottom) {
  @include margin-top($margin-top);
  @include margin-bottom($margin-bottom);
}

@mixin globalTabsInfo($border-bottom, $color, $margin-bottom) {
  @include border-bottom($border-bottom);
  @include color($color);
  @include margin-bottom($margin-bottom);
}

@mixin globalBorderInfo($border, $border-bottom, $border-top, $padding) {
  @include border($border);
  @include border-bottom($border-bottom);
  @include border-top($border-top);
  @include padding($padding);
}

@mixin icon {
  border-radius: 58.765em;
  width: 1em;
  height: 1em;
  padding: 0;
  transition: background 0.2s linear;
  transition: color 0.2s linear;
  font: 0.765em Arial, sans-serif;
  line-height: 1.1em;
}
