// fonts
$main-font: Nunito Sans, sans-serif;

// font-colors
$dark-blue: #222944;
$grey-blue: #4e5469;
$blue: #186ca4;
$button-blue: #00779e;
$dark-navy-blue: #135480;
$dark-sky-blue: #f26522;
$navy-blue: #145987;
$sky-blue: #40b4e5;
$light-sky-blue: #78d7ff; 
$orange: #f26522;
$black: #000000;
$white: #ffffff;
$off-white: #f6f6f6;
$light-grey: #f0f0f0;
$light-blue: #427699;
$grey: #898888;

// media query breakpoints
$mobile-medium: 414px;
$mobile: 767px;
$tablet: 768px;
$max-tablet: 1024px;
$transition: 1100px;
$desktop-medium: 1200px;

//font $weight
$normal: normal;
$bold: bold;
